<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Tareas Pendientes</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-success text-white bg-opacity-57" >
        <div class="col-md-5" position-relative c >
        <center><h3>Bienvenidos al listado de tareas pendientes</h3></center>
        </div>
      </nav>

    <!-- Tabla de las tareas utilizando boostrap-->
    <br>
    <div class="row justify-content-center">
        <div class="col-md-7" position-relative c>
            <div class="p-3 mb-2 bg-dark bg-opacity-75 text-white">
                <center>
                    <h2>Lista de tareas pendientes</h2>
                </center>
            </div>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-success p-2 text-dark bg-opacity-50">
                        <th scope="col">Nombre de tarea</th>
                        <th scope="col">Correo electronico</th>
                        <th scope="col">Nivel de prioridad</th>
                    </tr>
                </thead>
                <!-- Comando sde mostrar en la tabla los datos ingresados por el formulario-->
                <tbody>
                    {% for tarea in tareas_pen %}
                    <tr>
                        <th>{{tarea.tarea}}</th>
                        <th>{{tarea.correo}}</th>
                        <th>{{tarea.prioridad}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            
            </table>
        </div>
    </div>
    </div>
    <!-- Boton borrar nos ayudará a eliminar todos los registros de la tabla-->
    <form action="{{url_for('borrar')}}" method="post" class="card-body">
        <center> <i class="fa fa-edit"><button type="submit" class="btn btn-success">Eliminar</i></button></center>
    </form>
    <br>
    <!--Formulario para gregar tareas con su respectivo y nivel de prioridad-->
    <div class="row justify-content-center">
        <div class="col-md-7" position-relative c>
            <div class="p-3 mb-2 bg-dark bg-opacity-75 text-white">
                <center>
                    <h2>Agregar tarea</h2>
                </center>
            </div>
            <form method="post" action="{{url_for('enviar')}}">
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <br>
                        <!-- Ingresar el nombre-->
                        <div class="form-group">
                            <label class="form-label">Nombre de la tarea</label>
                            <input type="text" class="form-control" placeholder="Ingrese la descripcion de la tarea"
                                name="tarea">
                        </div>
                        <!-- Ingresar el correo electronico-->
                        <div class="form-group">
                            <label class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" placeholder="Ingrese el correo electronico"
                                name="correo">
                        </div>
                        <!--Seleccionar el nivel de prioridad-->
                        <label class="form-label">Nivel de prioridad</label>

                        <select class="form-select" aria-label="Default select example" name="prioridad">
                            <option selected>Seleccione el nivel de prioridad</option>
                            <option value="Bajo">Bajo</option>
                            <option value="Medio">Medio</option>
                            <option value="Alto">Alto</option>
                        </select>

                        <br>
                        <!-- Boton guardar nos permitira enviar los datos a la tabla-->
                        <center><i class="fa fa-edit"><button class="btn btn-success p-2 bg-opacity-50" type="submit">Guardar</i></button>
                        </center>
                    </div>
                </div>
        </div>
    </div>
    </form>
    <!-- Enlaces de boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>